@font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/MuseoSans-300.ttf);
}
@font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/MuseoSans_500.ttf);
}
@font-face {
    font-family: 'MuseoSans';
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/MuseoSans_700.ttf);
}
