@import './fonts.scss';

$mobile-size: 320px;
$mobile-plus-size: 480px;
$tablet-size: 768px;
$notebook-size: 1200px;

$main-font: "MuseoSans";

$accent-color: #3399ff;
$background-color: #e5f2ff;