@import "../../global-scss//global_style.scss";
@import "../../global-scss//vars.scss";

.header {
    width: 100%;
    height: 7.937rem;
    padding: 3rem 0 0;
    margin-bottom: 1.563rem;
    background-color: #f4f4f4;
    &__logo{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 479px) {
            img:first-child {
                width: 130px;
            }
        }
    }
    
}
